<!DOCTYPE html>

<div>
  <form method="post">
    <input type="text" placeholder="ID" name="id" value="{{
      request.form.id }}">
      <a href=# id=test><button class='btn btn-default'>Test</button></a>
  </form>
  <p>Click the "Submit" button and the form-data will be sent to a page on the 
  server </p>
</div>
        

 <div>
  <form>
    <label for="dropdown">Choose a car:</label>
    <select name="Parameters" id="cars">
      <option value="parameter">parameter</option>
      <option value="parameterName">Parameter Name</option>
      <option value="qualifier">Qualifier</option>
      <option value="town">Town</option>
      <option value="catchmentName">Catchment Name</option>
      <option value="riverName">River Name</option>
      <option value="RLOIid">RLOIid</option>
      <option value="search">Search</option> 
      <option value="status">Status</option>
      <option value="type">Type</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>
 </div>
</body>
</html>