<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
$(function() {
    $('.button').click(function() {
        var user = $('#userinput').val();
        console.log(user);
        $.ajax({
            url: '/enter',
            data: JSON.stringify( {'user': $('#userinput').val()} ),
            type: 'POST',
            success: on_request_success,
            error: on_request_error,
            })
        });
    });

<html>
    <body>
        <h3>The Chef Bucket</h3>
        Enter food you like to order.
        <input type="text" name="user_data" id="userinput" />
        <input type="button" value="Submit" class="button">

        <div id="userinputdata"> 
            <form action="" method="post">
            {% if not entered %}
                <h4></h4>
            {% else %}
                <h4>{{ entered }}</h4>
            {% endif %}
        </div>

    </body>
</html>
